:root {
    --dark: #082560dc;
    --light: #fff;
    --navlink-color: #d6bab7;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark);
    color: var(--light);
}

header img {
    width: 9vw;
    height: 9vw;
    margin-left: 120px;
}

header h1 {
    font-size: 200%;
    
}
  
h2 {
    margin: 2% 0;
    font-size: 250%;
}

a[href*='.css']::after {
    content: '📝';
    display: inline-block;
    margin-left: 3px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    
}
  
nav a {
    background-color: unset;
    color: var(--navlink-color);
    font-weight: bold;
    text-decoration: none;
}
  
nav a:hover {
    color: var(--light);
}

main {
    display: flex;
    flex: 1 1 0;
    max-width: 96%;
    margin: 2% auto;
}

main h2 {
    color: var(--dark);
}

section {
    background-color: #fff;
}
  
p {
    border-bottom: 1px solid var(--dark);
    margin: 0;
    font-size: 110%;
}

.hero-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.hero-text {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 300px;
    text-align: center;
}

.hero-text-mark {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.skill-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;

}

.skill-container {
    display: flex;
    justify-content: space-around;

}

.skill-image {
    margin-top: 25px;
    width: 250px;
    /* border-radius: 100px; */
}

footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--dark);
    color: var(--light);
}

footer h2 {
    margin-bottom: 10px;
    text-align: center;
}

footer ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    color: var(--navlink-color);

}
